/*---------reset-css---------*/
html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, header, footer, nav, section, a { 
  display:block;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;/*一部のモバイル端末で使われる、テキストの自動拡大アルゴリズムを制御*/
  -webkit-text-size-adjust: 100%;/*iPhoneやiPod Touch などで閲覧した際に、横向きにすると縦の時より自動的に文字サイズが大きくなるのを防止*/
}
ol, ul {
  list-style: none;
  list-style-type: none;
}
/*---------/reset--css---------*/

:root {
  --main-color-gray: gray;
  --background-color: #f1f1f1;
  --text-color: #333;
  --background-color-snow: snow;
}

/*-----------全幅共通css--------*/
/*-----body-----*/
body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: var(--text-color);
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
  margin: 0 auto;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 80px 0;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.credit-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

/*-----header------*/
/*-----更新日時をJavaScriptで自動取得-----*/
#modify {
  padding: 30px 0 10px 0;
  color: var(--main-color);
}
/*'更新日時'の文字を追記*/
#modify::before{
  content: '更新日時：';
  color: var(--main-color);
}

.date {
  display: block;
  margin-left: 10px;
  margin-top: 80px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;/*ヘッダーを固定*/
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: var(--text-color);
  font-weight: bold;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
  letter-spacing: .05em;
  color: var(--text-color);
}

.header-nav-item a:hover {
  opacity: .8;
}
/*-----main------*/
main {
  padding: 0 5rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.text-left {
  text-align: left;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0px;/*40*/
  letter-spacing: .05em;/*文字間調整*/
  text-align: center;
  color: var(--text-color);
}

#web, #banner, .calender {
  font-size: 24px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .05em;
  color: var(--text-color);
  text-align: center;
  margin-top: 80px;/*160*/
  margin-bottom: 40px;
}
/*--効いてない--*/
.credit {
  padding-top: 24px;
  padding-bottom: 24px;
}
/*-----grid--自己紹介・WORKS共通------*/
.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  padding: 0;
}

/*-----自己紹介grid内の子アイテム-----*/
.item {
  display: block;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--background-color);
  padding: 1rem;
  text-align: left;
  height: auto;
  line-height: 2;
}

.item>p {
margin-bottom: 1.5rem;
overflow: hidden;
}


.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0;
  }

.circle, .circle2{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  background-color: var(--circle-background-color);
}

.circle>span{
  display: block;
  font-size: 16px;
  line-height: 1rem;
  padding-top: 45%;
}

.circle2>span{
  display: block;
  font-size: 16px;
  line-height: 1rem;
  padding-top: 30%;
}

/*-----webサイト紹介grid内の子アイテム-----*/
.item-w {
  border-radius: 10px;
  background-color: var(--background-color);
  padding: 1rem;
  text-align: center;
  max-width: auto;
  height: 500px;
  margin: o, auto;
  overflow: hidden;
}
.item-w img {
  display: block;
  margin: 0 auto;
}
  /*----バナー一覧グリッドレイアウト-----*/
.grid-b {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
}

/*グリッド内子アイテム*/
.item-b {
  border-radius: 10px;
  background-color: var(--background-color);
  text-align: center;
  width: 100%;
  height: auto;/*500pxから変更--*/
  }

/*バナー画像のサイズ--html内では設定なし--*/
.item-c>img {
  display: inline-block;
  width: 45%;
  height: auto;
  padding: 4px;
  overflow: scroll;
}

.item-c {
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--background-color);
  text-align: center;
  width: 100%;
  height: auto;
  }

/*グリッド内の画像を全体表示する*/
.grid>img {
  display: inline-block;
  object-fit: contain;
}

.grid>p {
  display: block;
  padding: 0 1 1 1rem;
  font-size: 16px;
}

/*--------------------------------
 カラム内文字
---------------------------------*/
.item-w p,
.item-b p,
.item-c p {
  font-size: 15px;
  line-height: 1.5;
}

/*--------------------------------
 クレジット表記
---------------------------------*/
.about-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

.table-type th,
.teble-type td {
text-align: left;
padding: 8px 16px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: var(--background-color);
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: var(--text-color);
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: var(--main-color);
}

/*--------------------------------
サイト説明ページ
---------------------------------*/

.site-wrapper {
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.site img {
  display: block;
  margin: 0 auto;
}

.site-flex {
 display: flex;
 row-gap: 16px;
  flex-direction: row;
 align-items: flex-start;
 background-color: var(--background-color-snow);
 margin-bottom: 40px;
}

.site-flex__item {
  display: block;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--background-color-snow);
  padding: 1rem;
  text-align: left;
  width: 50%;
  height: auto;
  line-height: 2;
}


.site-title {
  font-size: 24px;
  font-weight: normal;
  font-weight: bold;
  line-height: 1;
  letter-spacing: .05em;
  color: var(--text-color);
  text-align: center;
  margin-top: 80px;/*160*/
  margin-bottom: 40px;
}

.site-heading {
  font-size: 24px;
  text-align: left;
  position: relative;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5em;
}

.site-heading::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 24px;
  background-color: var(--text-color);
  }

.site-heading a {
  color: var(--text-color);
}

.site-heading P {
  margin-bottom: 24px;
  text-overflow: ;
}

.site-text-left {
  width: auto;
  text-align: left;
}

/*------メディアクエリ-------*/
/*-----スマホ幅320px以上767px以下-----*/
@media(min-width:320px) and (max-width:766px) {
body {
  font-size: 13px;
  line-height: 1.7;
  }

main{
  padding: 0;
  margin: 16px;
  }

.date{
  display: none;
  }

/*--contact--*/
.title {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 0px;
  }

/* レイアウト */
.item {
  padding: 10px 0;
  }

  /* ヘッダー */
.header-inner {
  padding: 20px;
  }

.header-logo {
  font-size: 16px;
  }

.header-nav-item:not(:last-child) {
  margin-right: 10px;
  }

.header-nav-item a {
  font-size: 11px;
  }

#skill, #works, #contact {
margin-top: 40px;
  }

/*skill*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0;
  }

/* フッター */
.footer {
  padding: 20px;
  }

/*--サイト説明ページ--*/
.site-flex {
  flex-direction: column;
  width: 100%;
}

.site-flex__item {
  display: block;
  width: 100%;
  height: auto;
  line-height: 2;
}

.site-heading {
  font-size: 16px;
  text-align: left;
  position: relative;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5em;
  }
  
.site-heading::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 20px;
  background-color: var(--text-color);
  }

.calender {
  display: none;
  }

.contact{
  display: none;
  }


     

}