@charset "UTF-8";
/*-----リセットCSS読み込み-----*/
:root {
  --main-color: #412e28;
  --logo-color-white: #fff;
  --text-color-black: #333;
}

/*--------------------------------
 全体
---------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif, "Orelega One", cursive;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--text-color-black);
  font-feature-settings: "palt";
  width: 100%;
  height: auto;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

/*-----ヘッダーナビ-----*/
.header {
  display: flex;
  width: 100%; /*1366px*/
  height: 90px;
  flex-shrink: 0;
  align-items: center;
  margin: 0;
  background: var(--main-color);
  z-index: 10;
  position: fixed;
}

.header__logo {
  color: var(--logo-color-white);
  font-family: Orelega One;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 1.4px;
  margin-left: 30px;
  margin-right: auto;
}

.header__nav {
  margin-right: 30px;
  text-align: center;
}

.gnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnav__list {
  display: flex;
  width: fit-content;
}

.gnav__item {
  width: 100%;
}

.gnav__link {
  color: var(--logo-color-white);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.8px;
  margin-left: 30px;
}

/*-----mv-----*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 700px;
  background-image: url(image/mv-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mv__titleArea {
  color: var(--logo-color-white);
  text-align: center;
}

.mv__title {
  font-family: Orelega One;
  font-size: 100px;
  line-height: 1;
  text-shadow: 4px 4px 4px rgb(0 0 0 / 50%);
  z-index: 1;
}

.mv__subtitle {
  font-family: Montserrat;
  font-size: 32px;
  font-style: bold;
  letter-spacing: 1.4px;
  line-height: 100px;
  z-index: 1;
}

/*---ボタン---*/
.mv__btn {
  display: flex;
  margin-top: 48px;
 
}


.mv__btn a {
  width: 400px;
  height: 88px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  line-height: 76px;
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 24px;
  font-style: bold;
  letter-spacing: 0.9px;
  border-radius: 16px;
  border-color: var(--main-color);
  border: solid 4px var(--main-color);
  background: var(--text-color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.mv__btn a:hover {
  background-color: var(--main-color);
  color: var(--logo-color-white);
}

.mv__btn a:active {
    animation: fadeIn 5s ease 1s 1 normal backwards;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/*----レイアウト-----*/
/*----boxからはみ出た部分を隠す----*/
.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
}

/*--コンセプト---*/
.concept {
  padding: 50px 0;
  margin-top: 120px;
  margin-bottom: 240px;
}

.concept-container,
.access-container {
  display: flex;
  max-width: 1110px;
  gap: 80px;
  align-items: flex-start;
  margin: 0 auto;
}

.container-img {
  width: 50%;
}

.concept-desc {
  width: 50%;
  padding-right: 20px;
  padding-left: 40px;
}

.concept-text p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}

/*--menuカード--*/
#menu {
  margin-top: 240px;
  margin-bottom: 240px;
}

.heading {
  font-family: Orelega One;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.08em;
  color: var(--text-color-black);
  text-align: center;
  margin-bottom: 40px;
}

.subtitle {
  display: block;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  text-align: center;
  margin-bottom: 40px;
}

.menu-list {
  display: flex;
  flex-flow: wrap;
  box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.12%);
}
/*--flex-flowでflexアイテムの並びと折り返しを同時に指定---*/

.menu-list__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 48px;
}

.menu-list__item:nth-child(3n) {
  margin-right: 0;
}

.menu-list__item:hover {
  opacity: 0.8;
}

.menu-list__img {
  margin-bottom: 12px;
}

.menu-list__title {
  font-size: 20px;
  font-family: Noto Sans JP;
  line-height: 1.6;
  font-weight: bold;
}

.menu-list__price {
  font-size: 16px;
  font-family: Noto Sans JP;
  margin-top: 8px;
}

/*----アクセス・テーブル----*/
.access-container {
  max-width: 1110px;
  display: flex;
}

.access-info__map iframe {
  height: 480px;
}

.access-table {
  display: flex;
  width: 45%;
}

.table-right {
  width: calc((100% - 30px) / 2) 100%;
  font-size: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-right tr {
  border-bottom: solid 1px #ddd;
}

.table-right th {
  width: 400px;
  text-align: left;
  padding: 30px;
  vertical-align: middle;
}

.table-right td {
  text-align: left;
  padding: 30px;
  vertical-align: middle;
}

.table-right p:not(:last-child) {
  margin-bottom: 0px;
}

.table-right ul {
  margin-left: 20px;
}

/*---採用---*/
#recruit {
  margin-top: 240px;
  margin-bottom: 240px;
}

.message {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  text-align: center;
}
/*----フッター----*/
.footer {
  max-width: 100%;
  height: 160px;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--logo-color-white);
  background-image: url(image/footer-bg-img.jpg);
  background-size: contain;
}

.footer-nav {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav__list {
  display: flex;
  column-gap: 200px;
}

.footer-nav__item {
  width: auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.05em;
}

.footer-nav__link {
  color: var(--logo-color-white);
  text-decoration: none;
}

.footer-logo {
  color: var(--logo-color-white);
  font-family: Orelega One;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 1.4px;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 16px;
  letter-spacing: 0.03em;
}

/*--------別採用ページ--------*/
/*-----採用ページ・header-----*/
.recruit-page {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  max-width: 100%;
  height: 200px;
  background-image: url(image/header-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.recruit-page__titleArea {
  color: var(--text-color-black);
  text-align: center;
}

.recruit-page__title {
  font-family: Orelega One;
  font-size: 48px;
  margin-bottom: 24px;
}

.recruit-page__subtitle {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  letter-spacing: 0.5%;
  line-height: 1px;
}

/*---採用ページ・レイアウト---*/
.wrapper {
  overflow-x: hidden;
}

.rec-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

.rec-container__subtitle {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5%;
  line-height: 100px;
  text-align: center;
  margin-top: 56px;
}
/*---採用ページ・テーブル---*/

.company-info__table {
  margin-top: 42px;
  margin-bottom: 160px;
}

.table-type01 {
  width: 100%;
  font-size: 18px;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-type01 tr {
  border-bottom: solid 1px #ddd;
}

.table-type01 th,
.table-type01 td {
  text-align: left;
  vertical-align: middle;
  padding: 32px;
}

.table-type01 th {
  width: 30%;
  height: 20vh;
  justify-content: center;
}

.table-type01 p:not(:last-child) {
  margin-bottom: 64px;
}

.table-type01 ul {
  margin-left: 1rem;
}

/*----採用ページ・フッター----*/
.footer {
  max-width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  color: var(--logo-color-white);
  background-image: url(image/footer-bg-img.jpg);
  background-size: contain;

}

.footer-container {
  text-align: center;
}

.footer-nav {
  margin-bottom: 20px;
  justify-content: center;
}

.footer-nav__list {
  display: flex;
}
.footer-nav__item {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0;
  padding-right: 20px;
}
.rec-footer-nav__item {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
}

.footer-nav__link {
  color: var(--logo-color-white);
  text-decoration: none;
}

.footer-logo {
  color: var(--logo-color-white);
  font-family: Orelega One;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 1.4px;
  text-align: center;
}

.footer__copyright {
  font-size: 16px;
  letter-spacing: 0.03em;
}

/*media Queries タブレット幅
----------------------------------------------------*/
@media (min-width: 420px) and (max-width: 1000px) {
  body {
    font-size: 15px;
  }



  /* レイアウト */
  .concept {
    padding: 0;
    margin-top: 160px;
    margin-bottom: 0px;
  }

  .concept-container,
  .access-container {
    display: flex;
    max-width: 640px;
    margin: 0 auto;
  }

  .container-img {
    display: none;
  }

  .concept-desc {
    width: auto;
    padding-right: 20px;
    padding-left: 40px;
  }

  /*--menuカード--*/
  #menu {
    width: auto;
    margin-top: 160px;
    margin-bottom: 160px;
  }

  .menu-list {
    width: auto;
    display: flex;
    flex-flow: wrap;
  }
  /*--flex-flowでflexアイテムの並びと折り返しを同時に指定---*/
  
  .menu-list__item {
    display: flex;
    margin: 16px, 8px;
  }
  


  .menu-list__img {
    width: 100%;
    margin: 8px;
  }

  /*----メディアクエリ・アクセス・テーブル----*/
  .access-container {
    max-width: 700px;
    display: block;
    flex-flow: wrap;
    margin: 0 auto;
    overflow: auto;
  }

  .access-info__map iframe {
    display: block;
    width: 700px;
    height: auto;
  }

  .access-table {
    display: block;
    width: auto;
  }

  .table-right {
    width: auto;
    font-size: 18px;
    border-collapse: collapse;
    border-spacing: 0;
  }

  /*---採用---*/
  #recruit {
    margin-top: 160px;
    margin-bottom: 160px;
  }
}



/*media Queries SP幅
----------------------------------------------------*/
@media (min-width: 320px) and (max-width: 420px) {
  body {
    font-size: 15px;
  }

/*-----ヘッダーナビ-----*/
.header {
  display: flex;
  width: 100%; /*1366px*/
  height: 60px;
}

  .header__logo {
    font-size: 16px;
    margin-left: 20px;
    margin-right: auto;
  }

  .header__nav {
    margin-right: 20px;
    text-align: center;
  }

  .gnav__link {
    font-size: 14px;
    letter-spacing: 0px;
    margin-left: 30px;
  }
/*-----mv-----*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 65vh;
  background-image: url(image/mv-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  .mv__title {
    font-size: 56px;
    line-height: 1;
    text-shadow: 4px 4px 4px rgb(0 0 0 / 50%);
    z-index: 1;
  }

  .mv__subtitle {
    font-size: 16px;
  }

  .heading {
    font-size: 48px;
    margin-bottom: 24px;
  }
  
  .subtitle {
    margin-bottom: 24px;
  }

  .container-img {
    display: none;
  }
  .concept-desc {
    width: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .concept {
    padding: 0;
    margin: 24px auto;
  }


  /*--menuカード--*/
#menu {
  margin-top: 0;
  margin-bottom: 48px;
}
  .menu-list__item {
    width: 100%;
    padding: 16px;
    margin: 0, auto;
  }

  .menu-list__img {
    width: auto;
    margin: 0, auto;
  }

  .menu-list__title {
    font-size: 18px;
    font-family: Noto Sans JP;
    line-height: 1.6;
    font-weight: bold;
    margin: 0, auto;
  }

  .menu-list__price {
    font-size: 14px;
    font-family: Noto Sans JP;
    margin-top: 8px;
  }

  /*----SP・アクセス・テーブル----*/
  .access-container {
    max-width: 320px;
    display: block;
    flex-flow: wrap;
    margin: 0 auto;
    overflow: auto;
  }

  .access-info__map iframe {
    display: block;
    width: auto;
    height: 320px;
  }

  .access-table {
    display: block;
    width: auto;
  }


  .table-right {
    width: auto;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
  }

  .table-right th {
    width: auto;
    text-align: left;
    padding: 16px;
  }
  
  .table-right td {
    text-align: left;
    padding: 16px;
  }

  /*---採用---*/
  #recruit {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .message {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
  }
}
