/*---------リセットcss---------*/
html, body, header, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p,
div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, header, footer, nav, section {
  display: block;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%; /*一部のモバイル端末で使われる、テキストの自動拡大アルゴリズムを制御*/
  -webkit-text-size-adjust: 100%; /*iPhoneやiPod Touch などで閲覧した際に、横向きにすると縦の時より自動的に文字サイズが大きくなるのを防止*/
}
ol, ul {
  list-style: none;
  list-style-type: none;
}
/*---------リセットcss終わり---------*/

/*-------------------*/
/*全幅共通css*/
/*-------------------*/
/*スムーススクロール*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: #333;
  margin: 0 auto;
}

main {
  padding: 0 10%;
}

/*----ヘッダー----*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 30px 70px;
  position: fixed;/*ヘッダーを固定*/
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.header-logo {
  line-height: 1;
}

.header-logo img{
  width: 80px;
}

/*----グローバルナビ----*/
/*----ul内----*/
.gnav__list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.gnav__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
}

.gnav__link {
  color: #333;
  text-decoration: none;
}

.gnav__link:hover {
  color: #2CD8D5;
}

/*----ハンバーガーメニューPC非表示-----*/
.btn-menu {
  display: none;
}

a:hover {
  background-color: #333;
  color: #fff;
}

/*レイアウト*/
.flex-1column {
  display: flex; /*要素の表示形式*/
  flex-direction: column; /*子要素の並ぶ向き:縦*/
  flex-wrap: wrap; /*子要素の折り返し:あり*/
  align-items: stretch;
  border-radius: 10px;
  padding: 0 1 1 1rem;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.flex-2column {
  display: flex; /*要素の表示形式*/
  flex-direction: row; /*子要素の並ぶ向き:横*/
  flex-wrap: nowrap; /*子要素の折り返し:なし*/
  align-items: stretch;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 1 1 1rem;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

/*ファーストビュー*/
.firstview {
  height: 630px;
  background-image: url("../images/sleep.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 100px;
}

.firstview-lead {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(238, 221, 255, 0.3);
  text-align: center;
  padding-top: 3rem;
  box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
}

.firstview-lead > h2 {
  font-family: "Montserrat", "Helvetica Neue", Arial;
  font-size: 20px;
  padding: 1rem 0;
}

h1 {
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #fff, -2px 2px 10px#fff, 2px 2px 10px #fff,
    -2px 2px 10px #fff;
  padding: 2rem 0;
  line-height: 3rem;
  letter-spacing: 0.05em;
}

.index-title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
  letter-spacing: 0.05em;
}

.item-title {
  text-align: center;
  font-weight: bold;
}

.item__comment {
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
  padding: 0 2em;
  list-style: square inside;
}



/*------段落ごとに円で装飾-----*/
.circle {
  width: 20px;
  margin: 40px auto;
}

.circle div {
  background-color: #dcdcdc;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 100%;
  opacity: 0.5;
}

/*------空白文字の代わり-----*/
.blank-space1 {
  font-size: 16px;
  width: 2em;
  display: none;
}

.blank-space6 {
  font-size: 16px;
  width: 7em;
  display: none;
}

/*------ご案内-----*/
.index {
  display: flex; /*要素の表示形式*/
  width: 310px;
  flex-direction: column; /*子要素の並ぶ向き:縦*/
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;/*子要素の高さに合わせる*/
  border-radius: 10px;
  padding: 1rem 0;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.index h3 {
  text-align: left;
  padding-left: 15px;
  letter-spacing: 0.05em;
}
.index a{
  font-size: 18px;
  letter-spacing: 0.02em;
}

.title {
  font-size: 25px;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  letter-spacing: 0.05em;
}


.item-img > img {
  width: 300px;
  height: auto;
  padding-top: 0rem;
  border-radius: 10px;
}

.item-txt {
  padding: 1rem;
  text-align: left;
  flex-wrap: wrap;
  height: auto;
  width: calc(100% - 300px);
}

.item-title__comment {
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  padding-left: 1rem;
}

.color-number {
  color: #2cd8d5;
  display: inline;
  padding: 0 3%;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 5px 5px 20px #deffff, -5px 5px 20px #deffff, 5px 5px 20px #deffff,
    -5px 5px 20px #deffff;
}

/*--------------メニュー---------------------*/
.menu {
  max-width: auto;
  margin: 0 auto;
  font-size: 16px;
  padding: 40px 0;
}
.menu dl {
  display: table;
  width: 100%;
  border: solid #e4e4e4;
  border-width: 1px 0;
}
.menu dt {
  display: table-cell;
  padding: 0.4rem;
}
.menu dd {
  text-align: right;
  display: table-cell;
  padding: 0.4rem;
}
.menu dd:after {
  display: inline-block;
  content: "";
  width: 1em;
  font-size: 0.7em;
}
.menu dd.from:after {
  content: "〜";
}
.notes {
  font-size: 1rem;
}
/*------予約フォーム------*/
.lead-form {
  text-align: center;
  font-size: 20px;
}

.form {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0 40px 20px;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.label {
  float: left;
  margin-right: 20px;
  width: 135px;
  border-left: solid 3px #08bedd;
  padding-left: 10px;
  font-size: 15px;
}

.inputs {
  float: left;
  width: 300px;
}

input[type="text"],
input[type="email"] {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.btn-area {
  text-align: center;
  margin: auto;
}

input[type="submit"] {
  background: #08bedd;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
}

input[type="reset"] {
  background: #aaa;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
}

/*アクセス*/
.flex-access {
  display: flex;
  flex-direction: row; /*子要素の並ぶ向き:横*/
  flex-wrap: nowrap; 
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 1 1 1rem;
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.adress{
  flex: 1;
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;
  padding: 40px 0;
}
.adress dl {
  display: table;
  width: 100%;
  border: solid #e4e4e4;
  border-width: 1px 0;
}
.adress dt{
  display: table-cell;
  padding:0.4rem;
}
.adress dd{
  text-align: right;
  display: table-cell;
  padding:0.4rem;
}
.map {
  width: 600px;
}
iframe {
  width: auto;
  aspect-ratio: 16/9; /*アスペクト比（縦横比）を指定*/
}
/*-----クロージング-----*/
h3 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 0;
  line-height: 2.5rem;
}

h3 p {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 0;
  line-height: 1.5rem;
}
/*-------------------------------------*/
.footer {
  padding: 40px 0;
  margin-top: 40px;
  text-align: center;
  background-color: #fff;
}

/*-----------メディアクエリ------------*/
/*-----スマホ幅320px以上750px以下-----*/
@media (min-width: 320px) and (max-width: 750px) {

  /* ヘッダー */
  .header {
    position: relative;
    height: 60px;
    padding: 20px;
  }
  
  .header__logo {
    width: 80px;
  }
  
  .gnav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 180px;
    height: 100%;
    background-color: #fff;
    box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
    opacity: 70%;
  }
  
  .gnav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    padding: 90px 20px 20px 20px;
    row-gap: 25px;
  }
  
  .gnav__link {
    color: #333;
  }
  
  .gnav__link:hover {
    color: #2CD8D5;
  }
  
  .gnav__link--active {
    opacity: 0.6;
  }
  
  /*--ハンバーガーメニュー外観--*/
  .btn-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-top: 8px;
    padding: 16px 16px;
    border: 10px;
    border-radius: 6px;
    outline: none;
    background: none;
    background-color: rgba(238,221,255,0.5);
    opacity: 80%;
    cursor: pointer;
    appearance: none;
  }
  
  .btn-menu__line {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.4s;
    border-radius: 4px;
    background-color: #333;
  }
  
  .btn-menu__line::before,
  .btn-menu__line::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    border-radius: 4px;
    background-color: #333;
  }
  
  .btn-menu__line::before {
    top: -8px;
  }
  
  .btn-menu__line::after {
    top: 8px;
  }
  
  .btn-menu.active .btn-menu__line {
    background-color: transparent;
  }
  
  .btn-menu.active .btn-menu__line::before,
  .btn-menu.active .btn-menu__line::after {
    top: 0;
    background-color: #333;
  }
  
  .btn-menu.active .btn-menu__line::before {
    transform: rotate(45deg);
  }
  
  .btn-menu.active .btn-menu__line::after {
    transform: rotate(-45deg);
  }

  main {
    padding: 0 1rem;
  }

  h2 {
    font-size: 20px;
  }

  /*ファーストビュー*/
  .firstview {
    height: 400px;
    background-image: url("../images/sleep.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 50px;
  }
  .firstview-lead {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(238, 221, 255, 0.3);
    text-align: center;
  }
.firstview-lead h1 img {
  object-fit: contain;
  max-width: 100%;
  border-radius: 10px;
}
  .circle {
    display: none;
  }

  .text-center {
    text-align: center; /*文字中央配置*/
    margin: 0; /*上下に余白*/
    padding: 0;
    font-size: 15px;
  }
  .item-img > img {
    display: none;
  }

  .item-txt {
    padding: 1rem;
    text-align: left;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  /*------空白文字非表示-----*/
  .blank_space1 {
    display: none;
  }

  .blank_space6 {
    display: none;
  }

  .flex-1column {
    max-width: auto;
    margin: 0;
    padding: 1rem;
    margin: 20px auto;
  }
  .flex-2column {
    flex-direction: column; /*子要素の並ぶ向き:横*/
    flex-wrap: wrap; /*子要素の折り返し:なし*/
    align-items: stretch;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
      5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }

  .item > ul {
    font-size: 16px;
    line-height: 1.5rem;
    padding-left: 1rem;
    list-style: square inside;
  }

  .img {
    display: none;
  }

  /*------予約フォーム------*/
  .lead-form {
    text-align: center;
    font-size: 20px;
  }
  form {
    width: 350px;
    margin: 40px auto;
  }

  /*アクセス*/
  .flex-access .map .item-txt {
    display: contents; /*要素の表示形式*/
    flex-direction: column; /*子要素の並ぶ向き:縦*/
    flex-wrap: wrap; /*子要素の折り返し:あり*/
    border-radius: 10px;
    width: 25%;

    padding: 1rem;
    background-color: #fff;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
      5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
}

/*-------751以上900以下のタブレット幅-------*/
@media (min-width: 751px) and (max-width:900px) {
  /* ヘッダー */
  .header {
    position: relative;
    height: 60px;
    padding: 20px;
  }
  
  .header__logo {
    width: 80px;
  }
  
  .gnav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 180px;
    height: 100%;
    background-color: #fff;
    box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
    opacity: 70%;
  }
  
  .gnav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    padding: 90px 20px 20px 50px;
    row-gap: 25px;
  }
  
  .gnav__link {
    color: #333;
  }
  
  .gnav__link:hover {
    color: #2CD8D5;
  }
  
  .gnav__link--active {
    opacity: 0.6;
  }
  
  /*--ハンバーガーメニュー外観--*/
  .btn-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    text-align: center;
    margin: 8px 64px 0 0;
    padding: 16px;
    border: 10px;
    border-radius: 6px;
    outline: none;
    background: none;
    background-color: rgba(238,221,255,0.5);
    opacity: 80%;
    cursor: pointer;
    appearance: none;
  }
  
  .btn-menu__line {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.4s;
    border-radius: 4px;
    background-color: #333;
  }
  
  .btn-menu__line::before,
  .btn-menu__line::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: inherit;
    border-radius: 4px;
    background-color: #333;
  }
  
  .btn-menu__line::before {
    top: -8px;
  }
  
  .btn-menu__line::after {
    top: 8px;
  }
  
  .btn-menu.active .btn-menu__line {
    background-color: transparent;
  }
  
  .btn-menu.active .btn-menu__line::before,
  .btn-menu.active .btn-menu__line::after {
    top: 0;
    background-color: #333;
  }
  
  .btn-menu.active .btn-menu__line::before {
    transform: rotate(45deg);
  }
  
  .btn-menu.active .btn-menu__line::after {
    transform: rotate(-45deg);
  }

  main {
    padding: 0 4rem;
  }



  .firstview-lead {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(238, 221, 255, 0.3);
    text-align: center;
  }

  .flex-1column {
    max-width: auto;
    margin: 0;
    padding: 1rem;
    margin: 20px auto;
  }

  .flex-2column {
    display: flex; /*子要素の並ぶ向き:横*/
    flex-wrap: wrap; /*子要素の折り返し:あり*/
    align-items: stretch;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 1 1 1rem;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
      5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }

  /*------空白文字非表示-----*/
  .blank_space1 {
    display: none;
  }

  .blank_space6 {
    display: none;
  }

  .text-center {
    text-align: center; /*文字中央配置*/
    margin: 0; /*上下に余白*/
    padding: 2rem 0;
    font-size: 30px;
  }

  .item {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0;
    text-align: center;
    height: 50%;
  }

  h2 #s4 {
    padding: 0;
  }

  .menu {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    padding: 40px 0;
  }
}
