/*---------リセットcss---------*/
html, body, header, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, header, footer, nav, section { 
  display:block;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;/*一部のモバイル端末で使われる、テキストの自動拡大アルゴリズムを制御*/
  -webkit-text-size-adjust: 100%;/*iPhoneやiPod Touch などで閲覧した際に、横向きにすると縦の時より自動的に文字サイズが大きくなるのを防止*/
}
ol, ul {
  list-style: none;
  list-style-type: none;
}
/*---------リセットcss終わり---------*/

/*-------------------*/
/*全幅共通css*/
/*-------------------*/
body {
  font-family: 'Noto Serif JP', Montserrat, serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .8px;
  color: #333;
  margin: 0 auto;
  }

main {
  padding: 0 10%;
  background-color: rgba(238,221,255,0.2);
  }

/*----ヘッダー----*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 30px 70px;
  position: fixed;/*ヘッダーを固定*/
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  }

.header-logo {
  line-height: 1;
  }

.header-logo img{
  width: 80px;
  }

/*----グローバルナビ----*/
/*----ul内----*/
.gnav__list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  }

.gnav__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  }

.gnav__link {
  color: #333;
  text-decoration: none;
  }

.gnav__link:hover {
  color: #2CD8D5;
  }

/*----ハンバーガーメニューPC非表示-----*/
.btn-menu {
  display: none;
  }

/*------見出し------*/
h1 {
  font-style: italic;
	font-size: 64px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #dcdcdc ,
  -2px 2px 10px#dcdcdc,
  2px 2px 10px #dcdcdc,
  -2px 2px 10px #dcdcdc;
  margin: 0 auto;
  }

  /*----h2見だし----*/
.title {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
  }

.title2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 2rem 0 0 0;
  }
/*--h2--*/
.title-date {
  font-family: "Montserrat","Helvetica Neue",Arial;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1;
  margin: 1em auto;
  }

  .firstview-subtitle {
    font-size: 32px;
    color: #333;
    text-align: center;
    font-weight: bold;
    padding: 1em 0;
    }

  .title-banner {
    font-family: "Montserrat","Helvetica Neue",Arial;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1;
    margin: 0 0 1em 0;
    }
/*--p--*/
.comment {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  }

.comment-left {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  padding-left: 4em;
  padding-top: 40px;
  padding-bottom: 40px;
  }

/*--h3--*/
.subtitle {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 0;
  }
/*----レイアウト----*/

.firstview {
  height: 630px;
  background-image: url("../images/sleep.jpg");
  background-size: cover;
  background-position: center;
  }
  
.firstview-lead {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(238,221,255,0.3);
  text-align: center;
  padding-top: 3rem;
  box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
  }

a.btn-more {
  display: inline-block;
  background-color: #fff;
  padding: 0.5rem 2rem;
  margin: 0;
  border: solid 2px  #dcdcdc;
  border-radius: 18px;
  font-size: 20px;
  font-family: "Montserrat","Helvetica Neue",Arial;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s;
  }

a.btn-more:hover {
  background-color: #333;
  color: #fff;
  text-decoration: underline;
  }

 /*.container {
  max-width: 1200px;
  margin: 0 100px;
  padding: 0 1.5rem;
}
/*remはhtmlタグの文字サイズを1とした単位、この場合文字16X1.5=24pxの余白*/

/*こんなお悩みありませんか？*/
/*その悩み、私たちにご相談下さい*/
.flex-container {
  display: flex; /*要素の表示形式*/
  flex-direction: column; /*子要素の並ぶ向き:縦*/
  flex-wrap: wrap; /*子要素の折り返し:あり*/
  align-items: center;
  padding: 32px 0;
  }

.flex-container img{
  max-width: 100%;
  height: auto;
  }
/*---段落毎に円で装飾---*/
.circle {
  width: 20px;
  margin: 20px auto 0 auto;
  }

.circle div {
  background-color: #dcdcdc;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  border-radius: 100%;
  }

/*グリッドレイアウト--index--*/
.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

.item {
  border-radius: 10px;
  background-color: #fff;
  padding: 0;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  height: 360px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }

.item img {
  object-fit: contain;
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  }

.grid p {
  padding: 0rem;
  font-size: 18px;
  }


/*-----------特典ページ----------*/
/*flex*/
.wrapper {
  margin: 40px auto;
  }

.flex-prefer {
  display: flex; /*要素の表示形式*/
  flex-direction: row; /*子要素の並ぶ向き:横*/
  flex-wrap: nowrap; /*子要素の折り返し:なし*/
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
position: relative;
  }


.item-img {
  /*object-fit: contain;*/
  display: block;
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 0rem;
  }

.item-tag {
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: "Montserrat","Helvetica Neue",Arial;
  font-size: 16px;
  font-weight: bold;
  width: max-content;
  text-align: center;
  padding: 0 1em;
  background-color: #fff;
  border-radius: 5px;
  z-index: 100;
}

.item-txt {
  align-items: flex-start;
  padding: 0 1rem;
  text-align: left;
  flex-wrap: wrap;
  height: auto;
  width: calc(100% - 300px);
  }

.item-txt>p{
  font-size: 18px;
  line-height: 2rem;
  }

span {
  color: #2CD8D5;
  display: inline;
  padding: 0 3%;
	font-style: italic;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 5px 5px 20px #DEFFFF,
    -5px 5px 20px #DEFFFF,
    5px 5px 20px #DEFFFF,
    -5px 5px 20px #DEFFFF;
  }

.wrapper>.comment-left {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  padding-left: 4em;
  }
/*----フッター----*/
.footer {
  padding: 40px 0;
  text-align: center;
  background-color: #fff;
  }


/*-----------メディアクエリ------------*/
/*-----スマホ幅320px以上750px以下-----*/
@media(min-width:320px) and (max-width:750px) {
 /* ヘッダー */
 .header {
  position: relative;
  height: 60px;
  padding: 20px;
}

.header__logo {
  width: 80px;
}

.gnav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 180px;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
  opacity: 70%;
}

.gnav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  padding: 90px 20px 20px 50px;
  row-gap: 25px;
}

.gnav__link {
  color: #333;
}

.gnav__link:hover {
  color: #2CD8D5;
}

.gnav__link--active {
  opacity: 0.6;
}

/*--スマホ幅ハンバーガーメニュー外観--*/
.btn-menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-align: center;
  margin-top: 8px;
  padding: 16px 16px;
  border: 10px;
  border-radius: 6px;
  outline: none;
  background: none;
  background-color: rgba(238,221,255,0.5);
  opacity: 80%;
  cursor: pointer;
  appearance: none;
}

.btn-menu__line {
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.4s;
  border-radius: 4px;
  background-color: #333;
}

.btn-menu__line::before,
.btn-menu__line::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: inherit;
  border-radius: 4px;
  background-color: #333;
}

.btn-menu__line::before {
  top: -8px;
}

.btn-menu__line::after {
  top: 8px;
}

.btn-menu.active .btn-menu__line {
  background-color: transparent;
}

.btn-menu.active .btn-menu__line::before,
.btn-menu.active .btn-menu__line::after {
  top: 0;
  background-color: #333;
}

.btn-menu.active .btn-menu__line::before {
  transform: rotate(45deg);
}

.btn-menu.active .btn-menu__line::after {
  transform: rotate(-45deg);
}

/* メインビジュアル */

main {
    padding: 0 1rem;
  }

.firstview {
    height: 420px;
  }

.firstview-lead {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(238,221,255,0.3);
  text-align: center;
  margin-top: auto;
  }

.firstview-subtitle {
  padding: 0;
}

.firstview-lead img {
width: 70%;
height: auto;
}

.comment-left {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
 padding-left: 1em;
}

.flex-prefer {
  display: flex; /*要素の表示形式*/
  flex-direction: column; /*子要素の並ぶ向き:横*/
  justify-content: center;
  flex-wrap: nowrap; /*子要素の折り返し:なし*/
}

.item-tag {
  position: absolute;
  top: 20px;
  left: 20px;
}

span {
  font-size: 24px;
  padding-left: 0;
  }

.item-txt {
  align-items: flex-start;
  padding: 0 1rem;
  text-align: left;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  }

.subtitle {
  display: block;
  font-size: 20px;
  color: #333;
  text-align: center;
  font-weight: bold;
  letter-spacing: -.1em;
  padding: 0;
  }

.item-img>img {
  /*object-fit: contain;*/
  width: 100%;
  height: auto;
  }
.wrapper>.comment-left {
  line-height: 1.5em;
  padding-left: 1em;
  }
}
/*-------750以上900以下のタブレット幅-------*/
@media(min-width:751px) and (max-width:900px) {
 /* ヘッダー */
 .header {
  position: relative;
  height: 60px;
  padding: 20px 40px;
}

.header__logo {
  width: 80px;
}

.gnav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 180px;
  height: 100%;
  background-color: #fff;
  box-shadow: -10px 0 35px -20px rgb(0 0 0 / 25%);
  opacity: 70%;
}

.gnav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  padding: 90px 20px 20px 50px;
  row-gap: 25px;
}

.gnav__link {
  color: #333;
}

.gnav__link:hover {
  color: #2CD8D5;
}

.gnav__link--active {
  opacity: 0.6;
}

/*--タブレット幅ハンバーガーメニュー外観--*/
.btn-menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-align: center;
  margin: 8px 64px 0 0;
  padding: 16px;
  border: 10px;
  border-radius: 6px;
  outline: none;
  background: none;
  background-color: rgba(238,221,255,0.5);
  opacity: 80%;
  cursor: pointer;
  appearance: none;
}

.btn-menu__line {
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.4s;
  border-radius: 4px;
  background-color: #333;
}

.btn-menu__line::before,
.btn-menu__line::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: inherit;
  border-radius: 4px;
  background-color: #333;
}

.btn-menu__line::before {
  top: -8px;
}

.btn-menu__line::after {
  top: 8px;
}

.btn-menu.active .btn-menu__line {
  background-color: transparent;
}

.btn-menu.active .btn-menu__line::before,
.btn-menu.active .btn-menu__line::after {
  top: 0;
  background-color: #333;
}

.btn-menu.active .btn-menu__line::before {
  transform: rotate(45deg);
}

.btn-menu.active .btn-menu__line::after {
  transform: rotate(-45deg);
}

  main {
    padding: 0 4rem;
  }

/*--/*--h2 {
  font-weight: bold;
}--*/
/*.description {
  font-size: 16px;
  color: #333;
  text-align: left;
  padding: 1rem;
}
/*--.flex-box{
    flex-direction: column;
  }--*/
  .firstview {
    height: 560px;
  }

  .firstview-lead {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(238,221,255,0.3);
  text-align: center;
  }

  .comment-left {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
   padding-left: 1em;
  }

  a.btn-more {
    display: inline-block;
    background-color: #ffffff;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 20px;
    font-weight: bold;
    }

    a.btn-more>p {
      padding: 0;
      margin: 0;
    }

/*タブレット幅グリッドレイアウト*/
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.item {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  height: 50%;
}

.grid p {
  padding: 2rem;
  font-size: 18xp;
}

.flex-prefer {
  display: flex; /*要素の表示形式*/
  width: 100%;
  height: 400px;
  flex-direction: column; /*子要素の並ぶ向き:横*/
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap; /*子要素の折り返し:なし*/
  overflow: scroll;
}
span {
  font-size: 24px;
  padding-left: 0;
  }

.item-txt {
  align-items: flex-start;
  padding: 0 1rem;
  text-align: left;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  }

.subtitle {
  display: block;
  font-size: 20px;
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 0;
  }



  .item-tag {
    position: absolute;
    top: 20px;
    left: 200px;
  }
}